<h1 class="page-heading">Thanks for shopping with us!</h1>
<main class="main">
  <section class="product-purchased-card" data-product-id="{{product.id}}">
    <h3 class="product-purchased-card__title">{{product.title}}</strong></h3>
    <img class="product-purchased-card__image" src="{{product.thumbnail}}" alt="{{product.title}} image" />
    <p class="product-purchased-card__description">{{product.description}}</p>
    <p class="product-purchased-card__brand">Brand: {{product.brand}}</p>
    <p class="product-purchased-card__price">Price at time of purchase: {{product.price}}</p>
    <button class="back-home-button"><a href="/">back to home page</a></button>
  </section>
</main>